<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnyConstraint.Analyzer" version="1.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="AppDomainToolkit" version="1.0.4.3" targetFramework="net461" />
  <package id="AsyncFixer" version="1.1.6" targetFramework="net461" developmentDependency="true" />
  <package id="AutoParse" version="1.0.0" targetFramework="net461" />
  <package id="BeetleX" version="1.3.7.2" targetFramework="net461" />
  <package id="BeetleX.FastHttpApi" version="1.5.6" targetFramework="net461" />
  <package id="BenchmarkDotNet" version="0.12.0" targetFramework="net461" />
  <package id="BenchmarkDotNet.Annotations" version="0.12.0" targetFramework="net461" />
  <package id="BuildTools.FxCop" version="1.0.1" targetFramework="net461" />
  <package id="CachedQuickLz" version="1.3.1" targetFramework="net461" />
  <package id="ChannelAdam.Disposing" version="2.0.0" targetFramework="net461" />
  <package id="ClrHeapAllocationAnalyzer" version="1.0.0.9" targetFramework="net461" />
  <package id="CodeFix" version="1.2.1.0" targetFramework="net461" />
  <package id="Codelet.TypeScripter.Analyzer" version="1.0.17" targetFramework="net461" />
  <package id="CommandLineParser" version="2.4.3" targetFramework="net461" />
  <package id="DependentTaskRunner" version="1.0.6370.25830" targetFramework="net461" />
  <package id="Dictionary" version="2.1.1" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net461" />
  <package id="EcmaScript.NET" version="2.0.0" targetFramework="net461" />
  <package id="EntityFrameworkPerformanceAnalyzer" version="1.0.6319.40789" targetFramework="net461" developmentDependency="true" />
  <package id="Enums.NET.Analyzer" version="3.0.1" targetFramework="net461" />
  <package id="ErrorProne.NET" version="0.1.5898.41180" targetFramework="net461" />
  <package id="ErrorProne.NET.Structs" version="0.1.2" targetFramework="net461" developmentDependency="true" />
  <package id="Essentions" version="1.2.0" targetFramework="net461" />
  <package id="EvalScript" version="2.6.3" targetFramework="net461" />
  <package id="ExceptionAnalyzer" version="1.0.5" targetFramework="net461" />
  <package id="Faithlife.Analyzers" version="1.0.5" targetFramework="net461" />
  <package id="FakeItEasy.Analyzer.CSharp" version="5.3.0" targetFramework="net461" />
  <package id="FastDictionaryComparer" version="0.0.1" targetFramework="net461" />
  <package id="FluentRegex" version="0.1.0" targetFramework="net461" />
  <package id="ForeachGrid.Linq" version="1.2.4" targetFramework="net461" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net461" />
  <package id="GCop.Conditional" version="2.6.1" targetFramework="net461" />
  <package id="GCop.String" version="2.6.1" targetFramework="net461" />
  <package id="IDisposableAnalyzers" version="3.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="IronPython" version="2.7.9" targetFramework="net461" />
  <package id="IronPython.Interpreter" version="2.7.4" targetFramework="net461" />
  <package id="LazyMixinAnalyzer" version="2.3.0.0" targetFramework="net461" />
  <package id="Linq.Expression.Optimizer" version="1.0.13" targetFramework="net461" />
  <package id="LiteStringBuilder" version="1.0.3" targetFramework="net461" />
  <package id="MadReflection.Rupture" version="0.1.1" targetFramework="net461" />
  <package id="Meziantou.Analyzer" version="1.0.300" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis" version="3.5.0-beta1-final" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.5.0-beta1-final" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.5.0-beta1-final" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="3.5.0-beta1-final" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="3.5.0-beta1-final" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="3.5.0-beta1-final" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.5.0-beta1-final" targetFramework="net461" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.0.102" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net461" />
  <package id="MoqAnalyzer" version="1.0.5922.38414" targetFramework="net461" />
  <package id="NCode.ArrayLeases" version="1.0.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="New.Instance" version="0.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Open.Disposable" version="2.3.0" targetFramework="net461" />
  <package id="OzCode.Analyzers.AddTryCatchAnalyzer" version="1.4.6337.20200" targetFramework="net461" developmentDependency="true" />
  <package id="PerformanceTools" version="1.0.1" targetFramework="net461" />
  <package id="Polly" version="7.1.1" targetFramework="net461" />
  <package id="PropertyChangedAnalyzers" version="2.7.6" targetFramework="net461" developmentDependency="true" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net461" />
  <package id="ReadonlyDictionary" version="1.2.129" targetFramework="net461" />
  <package id="ReadOnlyExtensions" version="1.1.3" targetFramework="net461" />
  <package id="RecordConstructorGenerator" version="3.3.0" targetFramework="net461" />
  <package id="RegexBuilder" version="1.0.0" targetFramework="net461" />
  <package id="RG.CodeAnalyzer" version="1.0.13" targetFramework="net461" />
  <package id="Serilog" version="2.0.0" targetFramework="net461" />
  <package id="Serilog.Enrichers.Memory" version="1.0.4" targetFramework="net461" />
  <package id="String.Extensions" version="1.0.4" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net461" developmentDependency="true" />
  <package id="SwitchAnalyzer" version="0.6.10" targetFramework="net461" />
  <package id="SwitchEnumAnalyzer" version="1.0.0.4" targetFramework="net461" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Composition" version="1.4.0" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.4.0" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.4.0" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.4.0" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.4.0" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.4.0" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net48" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Management" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.8.0" targetFramework="net461" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="TaskExtensions" version="0.1.1" targetFramework="net461" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net461" />
  <package id="TaskSynchronizer" version="1.0.0.3" targetFramework="net461" />
  <package id="ToStringWithoutOverrideAnalyzer" version="0.6.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="TryCatchBuilder" version="1.0.0.0" targetFramework="net461" />
  <package id="TryDisposable" version="1.0.0" targetFramework="net461" />
  <package id="Tsarev.Analyzer.Hardcode.Vat" version="1.1.56.0" targetFramework="net461" developmentDependency="true" />
  <package id="Tsarev.Analyzer.Web" version="1.1.56.0" targetFramework="net461" developmentDependency="true" />
  <package id="UselessIfAnalyzer" version="0.0.6099.19184" targetFramework="net461" />
  <package id="ValueObjectAnalyzer" version="1.0.0.3" targetFramework="net461" />
  <package id="WeakEvent" version="3.0.3" targetFramework="net461" />
  <package id="WebActivator" version="1.5" targetFramework="net461" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net461" />
  <package id="YUICompressor.NET" version="3.0.0" targetFramework="net461" />
  <package id="Z.Expressions.Eval" version="3.0.10" targetFramework="net461" />
</packages>